---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Обо мне"
	pubDate={new Date('January 11 2025')}
	heroImage="/me.jpg"
>

<p>
Меня зовут Константин, я специалист по информационной безопасности, фотограф и просто хороший человек :-)
</p>
</Layout>
