---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Hello, Народ!</h1>
			<p>
				Добро пожаловать на мою страничку.
			</p>
			<p>
				Я – специалист по информационной безопасности в кредитно-финансовой сфере. Помогаю защищать данные, предотвращать киберугрозы и обеспечивать устойчивую работу систем.
			Моя цель – безопасность ваших активов и доверие клиентов. Вы можете рассчитывать на профессиональный подход и современные решения для защиты информации.
			Готов к сотрудничеству и новым вызовам!
			</p>
			<p>
				Кроме профессиональной деятельности, я активно занимаюсь наукой. В сферу моих интересов входят искусственный интеллект, биометрия, нечеткая математика и технологии блокчейна. Эти направления помогают мне разрабатывать инновационные подходы для обеспечения безопасности и устойчивости современных систем.
			<p>
				Также я увлекаюсь фотографией, находя вдохновение в природе, архитектуре и повседневных моментах. Это помогает мне развивать творческое мышление, которое зачастую оказывается полезным и в работе.
			</p>
			
		</main>
				<Footer />
	</body>
</html>
